<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">

  <xacro:property name="name_prefix" value="$(arg prefix)${model_name}" />
  <xacro:property name="tf_topic" value="${name_prefix}/tf" />

  <gazebo>
    <plugin filename="gz_ros2_control-system"
      name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>${model_dir}/gz_control_cfg.yml</parameters>
    </plugin>
    <plugin
      filename="gz-sim-sensors-system"
      name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
    <plugin
      filename="gz-sim-imu-system"
      name="gz::sim::systems::Imu">
    </plugin>
  </gazebo>

  <!-- 增加 gazebo 的雷达功能 -->
  <gazebo reference="$(arg prefix)lidar_link">
    <sensor name='gpu_lidar' type='gpu_lidar'>
      <topic>${name_prefix}/lidar</topic>
      <gz_frame_id>$(arg prefix)lidar_link</gz_frame_id>
      <update_rate>20</update_rate>
      <lidar>
        <scan>
          <horizontal>
            <samples>1440</samples>
            <resolution>1.0</resolution>
            <min_angle>${pi * -1 + 0.001}</min_angle>
            <max_angle>${pi * 1 - 0.001}</max_angle>
          </horizontal>
          <vertical>
            <samples>32</samples>
            <resolution>0.021106</resolution>
            <min_angle>-0.349066</min_angle>
            <max_angle>0.349066</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.05</min>
          <max>20.0</max>
          <resolution>0.01</resolution>
        </range>
      </lidar>
      <always_on>1</always_on>
      <visualize>true</visualize>
    </sensor>
  </gazebo>

  <!-- 增加 gazebo 的 IMU 功能 -->
  <gazebo reference="$(arg prefix)imu_link">
    <sensor name="imu_sensor" type="imu">
      <topic>${name_prefix}/imu</topic>
      <gz_frame_id>$(arg prefix)imu_link</gz_frame_id>
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <imu>
        <enable_orientation>false</enable_orientation>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
    </sensor>
  </gazebo>

  <xacro:macro name="add_gz_property_to_wheel" params="link_name fdir1">
    <gazebo reference="${link_name}">
      <collision>
        <surface>
          <friction>
            <ode>
              <mu>1.0</mu>
              <mu2>0.0</mu2>
              <fdir1 gz:expressed_in="$(arg prefix)dummy">${fdir1}</fdir1>
            </ode>
          </friction>
        </surface>
      </collision>
    </gazebo>
  </xacro:macro>

  <xacro:add_gz_property_to_wheel link_name="$(arg prefix)left_front_wheel_link" fdir1="1 -1 0" />
  <xacro:add_gz_property_to_wheel link_name="$(arg prefix)right_front_wheel_link" fdir1="1 1 0" />
  <xacro:add_gz_property_to_wheel link_name="$(arg prefix)left_rear_wheel_link" fdir1="1 1 0" />
  <xacro:add_gz_property_to_wheel link_name="$(arg prefix)right_rear_wheel_link" fdir1="1 -1 0" />


</robot>